@import '_grid';
@import '_loader';

* {
	box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
	font-family: 'PT Sans', sans-serif;
  font-size: 14px;
	margin: 0;
	padding: 0;
}

main {
	flex: 1;
}

footer {
	padding: 20px 0;
}

.logos {
  align-items: center;
  display: flex;
  img {
    margin-left: 30px;
    margin-bottom: 0;
    vertical-align: top;
    width: auto;
  }
  a:first-child {
    margin-left: auto;
  }
}

h1 {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.intro {
  padding-bottom: 30px;
}

label,
.label,
.label-header {
  font-size: 10px;
}

label {
  align-items: center;
  display: flex;
}

.label-header {
  font-weight: bold;
  text-transform: uppercase;
}

#vis,
#map {
  opacity: 0;
  transition: 0.5s all ease;
}

#vis {
  min-height: 200px;
  margin-top: -40px;
  position: relative;
}

.filter-container {
  position: absolute;
  top: 20px;
  label {
    padding-bottom: 5px;
  }
  select {
    font-size: 12px;
  }
}

#timeSlider {
  position: absolute;
}

// #play-button {
//   position: absolute;
//   top: 140px;
//   left: 50px;
//   background: #f08080;
//   padding-right: 26px;
//   border-radius: 3px;
//   border: none;
//   color: white;
//   margin: 0;
//   padding: 0 12px;
//   width: 60px;
//   cursor: pointer;
//   height: 30px;
// }

// #play-button:hover {
//   background-color: #696969;
// }    

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: square;
}

.track {
  stroke: #E9C880;
  stroke-width: 4px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #E9C880;
}

.median {
  stroke-width: 1px;
  stroke: #666;
  stroke-dasharray: 4;
}

.median-label {
  fill: #666;
  font-size: 10px;
}

.grid line {
  stroke: #CCC;
  stroke-opacity: 1;
  stroke-dasharray: 2,3;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.axis {
  line,
  path {
    stroke-width: 0;
  }
  text{
    fill: #999;
  } 
}

.tooltip {
  font-size: 14px;
  line-height: 18px;
  z-index: 100;
  > * {
    fill: #E9C880;
    opacity: 0.8;
  }
}

#map{
  border: 1px solid #CCC;
  height: 450px;
  overflow: hidden;
  position: relative;
  .map-controls{
    bottom: 15px;
    left: 15px;
    padding: 5px;
    position: absolute;
    z-index: 100;
    .layers{
      display: flex;
      flex-flow: column;
      .labelHeader{
        padding-bottom: 3px;
      }
    }
    .legend{
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid #B7B7B7;
      margin-top: 5px;
      padding: 10px 5px;
    }
  }
  .map-regions{
    fill: #F2F2F2;
    stroke: #B7B7B7;
  }
  .tweet-layer,
  .event-layer{
    transition: 0.3s all ease;
  }
  .zoom-controls {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: grid;
    grid-gap: 5px;  
    button {
      width: 30px;
      height: 30px;
      font-size: 18px;
      font-weight: bold;
      display: grid;
      border-radius: 50% !important;
      background: #E9C880;
      color: #FFF;
      border: none;
      user-select: none;
      cursor: pointer;
      box-sizing: border-box;
    }
    button:active {
      background: rgba(200, 200, 200, 0.8);
    }
    button:focus {
      outline: 0;
    }
  }
}

.tweet-marker{
  fill-opacity: 0.5;
  fill: #41B3E6;
  stroke: #41B3E6;
}

.event-marker{
  fill-opacity: 0.5;
  fill: #F7941E;
}

.tweet-bar,
.event-bar{
  transition: 0.5s opacity ease;
}

//custom checkbox styles
.input-container {
  display: block;
  position: relative;
  padding-left: 22px;
  padding-top: 3px;
  margin-top: 4px;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #CCC;
}
.input-container:hover input ~ .checkmark {
  background-color: #F2F2F2;
}
.input-container input:checked ~ .checkmark {
  background-color: #E9C880;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.input-container input:checked ~ .checkmark:after {
  display: block;
}
.input-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (max-width: 767px) {
	.logos {
		.grid-container > div {
			padding: 0;
			text-align: center;
		}
		img {
			margin: 10px;
		}
	}
}
