@import '_loader';

* {
	box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}

body {
  background-color: #191a1a;
  color: #FFF;
	font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
	margin: 0;
	padding: 0;
}

footer {
  background-color: #FFF;
	padding: 15px 90px 15px 0;
}

.logos {
  align-items: center;
  display: flex;
  img {
    margin-left: 30px;
    margin-bottom: 0;
    vertical-align: top;
    width: auto;
  }
  a:first-child {
    margin-left: auto;
  }
}

h1 {
  font-size: 18px;
  margin: 0 0 20px;
}

a {
  color: #FFF;
  text-decoration: unerline;
}

.overlay {
  left: 45px;
  position: absolute;
  top: 45px;
  z-index: 2;
}

.details {
  background-color: rgba(61, 61, 63, 0.8);
  color: #FFF;
  font-size: 14px;
  line-height: 20px;
  padding: 20px;
  width: 448px;
  .label {
    fill: #FFF;
  }
}

.map-legend {
  .label-header {
    margin-bottom: 6px;
  }
  label {
    flex-direction: row-reverse;
    justify-content: flex-end;
    input {
      margin-right: 6px;
    }
  }
}

label,
.label,
.label-header {
  fill: #FFF;
  &.small {
    font-size: 12px;
  }
}

label {
  align-items: center;
  display: flex;
}

.label-header {
  font-weight: bold;
}

.country-dropdown {
  font-size: 14px;
  height: 45px;
  margin-top: 20px;
}

main,
footer {
  opacity: 0;
  transition: 0.5s all ease;
}

.charts {
  position: relative;
}

#timeSlider {
  position: absolute;
  .ticks {
    font-size: 12px;
    text {
      fill: #FFF;
    }
  }
}   

.tick {
  font-size: 12px;
  text {
    fill: #FFF;
    fill-opacity: 0.5;
  }
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: square;
}

.track {
  stroke: #FFF;
  stroke-width: 5px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  &.playing {
    .handle-play {
      display: none;
    }
    .handle-pause {
      display: block;
    }
  }
}
.handle-bg {
  fill: #FFF;
}
.handle-play {
  fill: #007ce1;
}
.handle-pause {
  display: none;
  stroke: #007ce1;
  stroke-width: 4px;
}

.median {
  stroke-width: 1px;
  stroke: #FFF;
  stroke-dasharray: 5,2;
  shape-rendering: crispEdges;
}

.median-label {
  fill: #FFF;
  font-size: 12px;
}

.grid line {
  stroke: #FFF;
  stroke-opacity: 0.3;
}

.grid path {
  stroke-width: 0;
}

.axis {
  line,
  path {
    stroke-width: 0;
  }
  text{
    fill: #999;
  } 
}

.tooltip{
  background-color: #FFF;
  border: 0px;
  border-radius: 3px;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  height: 70px;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  transition: 0.3s opacity ease;
  width: 105px;
  z-index: 100;
  &:after {
    border-color: rgba(136, 183, 213, 0);
    border: solid transparent;
    border-top-color: #FFF;
    border-width: 10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
  }
  .label-header{
    padding-bottom: 5px;
  }
}

#map{
  position: relative;
  .map-regions{
    fill: #343332;
    stroke: #6d6d6d;
  }
  .tweet-layer,
  .event-layer{
    transition: 0.3s all ease;
  }
  .zoom-controls {
    position: absolute;
    right: 45px;
    bottom: 45px;
    display: grid;
    grid-gap: 5px;  
    button {
      width: 30px;
      height: 30px;
      font-size: 18px;
      display: grid;
      border-radius: 50% !important;
      background: #007ce1;
      color: #FFF;
      border: none;
      user-select: none;
      cursor: pointer;
      box-sizing: border-box;
    }
    button:active {
      background: rgba(200, 200, 200, 0.8);
    }
    button:focus {
      outline: 0;
    }
  }
}

.country-label{
  fill: #6d6d6d;
  font-size: 12px;
  pointer-events: none;
  text-anchor: middle;
}

.tweet-marker{
  fill-opacity: 0.5;
  fill: #00acee;
  stroke: #0a95ca;
}

.event-marker{
  fill-opacity: 0.7;
  fill: #f7941e;
}

.tweet-bar,
.event-bar{
  transition: 0.5s opacity ease;
}

@media only screen and (max-width: 767px) {
  .legend-overlay {
    left: 0;
    margin: 20px;
    position: relative;
    top: 0;
    .details {
      width: 100%;
    }
  }
  .chart-overlay {
    left: 20px;
    position: relative;
    top: 0;
  }
  .country-dropdown {
    -webkit-appearance: none;
    background-color: #FFF;
    padding-left: 10px;
  }
  #map {
    .zoom-controls {
      display: none;
    }
  }
  footer {
    padding: 15px;
    .logos {
      flex-wrap: wrap;
      justify-content: center;
      a:first-child {
        margin-left: 0;
      }
      img {
        margin: 10px;
      }
    }
  }
}
